<% set_meta_tags title: "About", description: "Danboxについて" %>
<%= render 'static_pages/navigator' %>

<div class="simple-page">
  <h1>Danboxについて</h1>

  <h3>Danbox(ダンボックス)とは</h3>
  <p>ダンボールを使った工作やアートなどのあらゆる作品を画像投稿機能を使って共有し、ダンボールの限界に挑むための新しいSNSです。</p>

  <h3>Danboxの思想</h3>
  <h4>1. ダンボールの可能性を広げよう</h4>
  <p>
  DanboxはただのSNSではありません。
  ダンボールとは本来、物流などで主に使用される梱包材でその役割を果たせば捨てられてしまう存在でした。
  しかし、工作家の皆さんの手によって梱包材だけではない、ダンボールの新たなる価値を見出すことができるようになりました。
  ですので、Danboxではその価値や魅力、可能性をより多くの人に広げ、工作の楽しさや面白さを伝えられる場をお届けしていきたいと考えています。
  そしてなにより、工作家の皆さんにも楽しんでもらいたいと思っています。
  <p>

  <h4>2. 知識や技術の情報が集まる場をつくろう</h4>
  <p>
  Danboxは「ダンボールを使った工作やアートの作品を共有し、ダンボールの限界に挑むためのSNS」ですので、そのために必要なダンボールの素材や工作のコツなど、
  より多くの人がステップアップできるような場を作っていきたいと考えています。
  そのために、お互いにコメント機能やフォロー機能、いいね機能などを使って、情報交換を積極的におこなっていきましょう。
  </p>

  <h4>3. どんどん作品を作り、表現していこう</h4>
  <p>
  Danboxでは、あなたの作品を投稿し評価されること、また他の作品を見て素晴らしいと思った作品を評価することを通して、あなたの感性や技術が向上することを支援します。
  Danbox上で評価や投稿などの活動をすることで、あなたのモチベーションや成長を促していける場所を目指しています。
  </p>
</div>
