<% set_meta_tags description: @post.caption, og: { url: "#{root_url}/modal?id=#{@post.id}", image: "https://danbox-bucket.s3.amazonaws.com#{@post.content}" } %>

<div id="modal-view">
  <%= render partial: 'posts/modal_item', locals: { post: @post, comment: @comment } %>
</div>
