<% provide(:title, 'Home') %>

<div class="row">
  <div class="col-sm-4 introduction">
    <h1>工作入門</h1>
    <h2>ダンボールアートの作り方</h2>
  </div>
  <div class="col-sm-4 auction">
    <h1>アートワーク<br>オークション</h1>
  </div>
  <div class="col-sm-4 event">
    <h1>イベント</h1>
  </div>
</div>
