@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$theme-color: #e9cf84;
$theme-color-dark: #c5b16e;
$twitter-color: #1da1f2;
$twitter-color-dark: #1b95e0;
$subtext-color: #aab8c2;

@mixin article {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  color: white;
  text-align: center;
}

@mixin article_text {
  h1 {
    font-size: 45px;
    margin-top: 30%;
    font-weight: bolder;
  }
  h2 {
    font-size: 28px;
    margin-top: 5px;
    font-weight: bolder;
  }
}

/* universal */

body {
  margin: 0;
  font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  background-color: #f9f9f9;
}

.top-size-item {
  height: 100px;
}

header {
  background-color: white;
  filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.1));
  #logo {
    width: 170px;
    height: auto;
    margin: 20px 0;
    float: left;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.alert {
  min-width: 500px;
  margin: 10px;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 15px;
    margin-top: 20px;
    a {
      padding: 0;
    }
  }
}

.circle-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}

.navigator {
  width: 810px;
  height: auto;
  margin: 20px auto;
}

.simple-page {
  width: 810px;
  height: auto;
  margin: 30px auto;
  background-color: white;
  padding: 15px 40px;
  border: 1px solid #DDD;
  h1 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid $theme-color;
  }
  h3 {
    margin-top: 30px;
  }
  li {
    margin: 10px 0;
  }
}

/* sign in design */

.split {
  display: flex;
  .split-item {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
  }
  .split-item-form {
    background-color: white;
  }
  .split-item-design {
    background-color: $theme-color;
    position: relative;
    #danbox_silhouette {
      width: 120%;
      height: auto;
      position: absolute;
      top: 0;
      pointer-events: none;
    }
    .contents {
      color: white;
      max-width: 500px;
      padding: 0 16px;
      margin: 0 auto;
      margin-top: 40%;
      position: relative;
      .contents-item {
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 22px;
        font-weight: bold;
        line-height: 24px;
        margin: 48px auto;
        img {
          margin-right: 15px;
          width: 40px;
          height: auto;
          pointer-events: none;
        }
      }
    }
  }
}

/* footer */

footer {
  position: fixed;
  padding: 11px 0;
  border-top: 1px solid #eaeaea;
  width: 100%;
  background-color: white;
  bottom: 0;
  a {
    color: $subtext-color;
    font-size: 12px;
    &:hover {
      color: $subtext-color;
      text-decoration: underline;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    li {
      margin: 0 40px;
    }
  }
}

/* form */

.login-form {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 20px;
  form {
    display: flex;
    justify-content: center;
    .login-form-email, .login-form-password {
      margin-right: 12px;
      width: 210px;
    }
    input {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      margin-top: 12px;
      border: 1px solid #e6ecf0;
      border-radius: 3px
    }
    button {
      height: 100%;
      padding: 12px;
      width: auto;
      box-sizing: border-box;
      margin-top: 12px;
      background-color: white;
      border: 1px solid $theme-color;
      font-size: 14px;
      line-height: 20px;
      border-radius: 100px;
      font-weight: bold;
      color: $theme-color;
      &:hover {
        background-color: $theme-color;
        color: white;
        transition: background .2s;
      }
    }
    a {
      color: $subtext-color;
    }
  }
}

.signup-block {
  max-width: 380px;
  margin: 20% auto;
  .icon-box {
    width: 50px;
    height: auto;
    pointer-events: none;
  }
  h1 {
    font-size: 30px;
    line-height: 32px;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 16px auto;
    margin-top: 48px;
    font-weight: bold;
  }
  a {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
  }
  .signup-btn {
    background-color: $theme-color;
    border: 1px solid $theme-color;
    color: white;
    &:hover {
      background-color: $theme-color-dark;
      transition: background .2s;
    }
  }
  .sns-btn {
    background-color: $twitter-color;
    border: 1px solid $twitter-color;
    color: white;
    &:hover {
      background-color: $twitter-color-dark;
      transition: background .2s;
    }
  }
}

/* home */

.container {
  #post-toggle {
    cursor: pointer;
  }
  .post-form {
    display: none;
    width: 360px;
    height: auto;
    padding: 40px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    position: fixed;
    top: 80px;
    left: 1000px;
    z-index: 1;
    text-align: center;
    #post-prev {
      width: 200px;
      height: 200px;
      display: none;
      margin: 0 auto;
      #post-img-prev {
        width: 100%;
        height: 100%;
        display: none;
        object-fit: cover;
      }
    }
    #post-img {
      display: none;
    }
    #post-icon-image {
      margin: 15px 0;
      cursor: pointer;
    }
  }
  .row {
    width: 1090px;
    margin: 0 auto;
    .introduction {
      background: url('introduction_bg.png');
      @include article;
      @include article_text;
    }
    .auction {
      background: url('auction_bg.png');
      @include article;
      @include article_text;
    }
    .event {
      background: url('event_bg.png');
      @include article;
      @include article_text;
    }
    .post-content {
      background-color: white;
      overflow: hidden;
      padding: 0;
      border: 1px solid #DDD;
      height: 363px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .user-content {
      overflow: hidden;
      padding: 0;
      border: 1px solid #DDD;
      height: 182px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      input {
        position: absolute;
        top: 0;
      }
    }
  }
}

#resently-post {
  font-size: 1.2em;
  margin-top: 40px;
  color: $subtext-color;
  font-weight: bold;
}

